<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Coach sportif Thierry Etienne</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/style.css" />
</head>

<body>
  <div id="bloc_page">
    <header>
      <div class="navbar-wagon">
        <!-- Logo -->
        <a href="/" class="navbar-wagon-brand">
          <img src="images/logoHT.jpg" /></a>
        <!-- Right Navigation -->
        <div class="navbar-wagon-right hidden-xs hidden-sm">
          <!-- Search form -->
          <form action="" class="navbar-wagon-search">
            <input type="text" class="navbar-wagon-search-input" placeholder="Search something">
            <button type="submit" class="navbar-wagon-search-btn">
              <i class="fa fa-search"></i>
            </button>
          </form>
          <!-- Text link -->
          <a href="" class="navbar-wagon-item navbar-wagon-link">Présentation</a>
          <!-- Text link -->
          <a href="" class="navbar-wagon-item navbar-wagon-link">Programmes</a>
          <a href="" class="navbar-wagon-item navbar-wagon-link">Contact</a>
        </div>
      </div>
    </header>
    <div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('background.jpg');">
      <div class="banner-content">
        <h1>Thierry Etienne</h1>
        <blockquote><em>"L'entraîneur médiocre parle, le bon explique, le super démontre et le meilleur inspire".</em> John Kessel</blockquote>
        <br>
        <a href="#" class="btn-treehouse">LET'S GO!</a>
      </div>
    </div>
    <div class="share-links">
      <a href="#" class="share-link bg-facebook">
        <i class="fa fa-facebook"></i>
      </a>
      <a href="#" class="share-link bg-twitter">
        <i class="fa fa-twitter"></i>
      </a>
      <a href="#" class="share-link bg-email">
        <i class="fa fa-envelope-o"></i>
      </a>
      <a href="#" class="share-link bg-text">
        <i class="fa fa-mobile"></i>
      </a>
    </div>
  </div>
</body>
</html>

